@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}

.navigation{
	width:100%;
	height:50px;
	background-color:#123405;
}

.navigation ul{
	width:90%;
	margin:auto;
	list-style-type:none;
	border:0px solid yellow;
	
}

.navigation ul li{
	display:inline-block;
	text-align:center;
	/* line-height:30px; */
	width:100px;
	border:0px solid yellow;
}

.navigation ul li a{
	color:#FDFC02;
	text-decoration:none;
	border:0px solid yellow;
	display:block;
	height: 50px;
}

.navigation ul li a:hover{
	background-color:green;
}
.navigation ul li a.active{
	background-color:green;
}
